<div class="main-register">
<div class="row">
  <div class="col-md-6">
    <div class="client-register">
      <div class="hero-client">
        <h3><b>Sign-Up as Client</b></h3>
        <p>Enables on find a service provider nearby<br> and make a request</p>
      </div>

      <button type="button" class="btn btn-primary" (click)='onButton()'>Sign Up</button>
    </div>

  </div>
  <div class="col-md-6">

  <div class="servicer-register">
    <div class="hero-service">
      <h3><b>Sign-Up as Service Provider</b></h3>
      <p>Enables service providers to post the type of services they can <br> offer and get request</p>
    </div>
      <button type="button" class="btn btn-primary" (click)="onButton1()"> Sign Up</button>
    </div>

  </div>
</div>
</div>

