.register{
  padding-left: 500px;
  width: 1500px;
  padding-top: 320px;
}
.hero{
  font-family: 'Roboto', sans-serif;
  padding-left: 350px;
}
.form-control{
  width: 300px;
}
.btn
{
  margin-top: 100px;
  margin-left: 50px;
  height: 52.39px;
  width: 102px;
  font-size: 20px;
}
