<div class="register">
  <form action="">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    <h4 class="hero">Register</h4>
      <div class="row">
        <!--colum for name-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">First Name </label>
            <input type="text" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Last Name </label>
            <input type="text" class="form-control" required>
          </div>
        </div>
        <!--End column for name-->
        <!--column for email-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Mobile</label>
            <input type="text" name="phone" id="phone" class="form-control">
          </div>
        </div>
        <!--End column for name-->
        <!--column for city and street-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="city">City</label>
            <input type="address" class="form-control" name="address" id="city">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Street</label>
            <input type="text" class="form-control" name="street" id="street">
          </div>
        </div>
<!--End of column city and street-->
        <!--Address-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="address1">Address 1</label>
            <input type="text" class="form-control" name="address1" id="address1">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="address2">Address 2</label>
            <input type="text" class="form-control" name="address2" id="address2">
          </div>
        </div>

        <!--password-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirm-pass">Confirm Password</label>
            <input type="password" name="confirm-pass" id="confirm-pass" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary">Register</button>
        </div>
    </div>




  </div>

  </form>
</div>
