<div class="login">
    <form action="" #form="ngForm" ngNativeValiadte>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
          <img src="/src/assets/img/client/clients.svg" alt="">
          <h4 class="hero">Login</h4>
            <div class="form-group">
            <label for="email">Email/Phone</label>
          <input type="text" class="form-control" name="email" placeholder="email/phone" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="password"  required>
        </div>
        <div class="for">
          <a routerLink="/recover">forget password or username</a>
        </div>
        <div class="submit">
          <button class="btn btn-primary">Login</button>
        </div>
      </div>
</form>

</div>

