.topnav {
    overflow: hidden;
    margin-left: 300px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: -120x;
    position: sticky;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    border-radius: 50%;
    color: black;
  }

  .topnav a.active {
    background-color: rgb(31, 29, 29);
    border-radius: 50%;
    color: white;
  }

  .topnav-right {
    float: right;
  }
  .hero {
    background-image: url('../../assets/img/backgroud1.jpeg');
    background-position: center;
    background-size: cover;
    height:630px;
    margin-top: -55px;
  }
  .hero h1 {
    padding-top: 250px;
    padding-left: 340px;
  }
