<div class="container">
  <nav class="nav nav-bar">





  </nav>
  <div>


  </div>
</div>
<div class="container-full">
  <div class="hero">


  </div>
</div>

<div class="container-fluid" id="services">
  <br><br>
  <h2>SERVICES</h2>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="service-pic">
          <img src="assets/clients.svg" width="100px" alt="">
        </div><br>
        <h4>client</h4>
        <p>For our clients we offer door to door services, the services we offer are legitimate because our workers must go through auditions before publishing them tou our site. Your safety is guaranteed for security comes first for us. our
          workers are Affordable</p>

      </div>
      <div class="col-md-6">
        <div class="service-pic">
          <img src="assets/worker.png" width="100px" alt="">
        </div><br>
        <h4>workers</h4>
        <p>If its been hard for you to find a job, then you are at the right place. Before we publish you to the site we have to first audit you and get to know your work experience before proceeding.Fill the form below to get started</p><br>
      </div>

    </div>
  </div><br><br>
</div>


<div class="container-fluid" id="how-it-works">
  <div class="row">

    <div class="col-md-7">
      <div id="how-works">
        <h2>HOW IT WORKS</h2>
        <ul>
          <li>create an account if you already dont have one</li>
          <li>log onto our site</li>
          <li>you will be directed to our sites services portal</li>
          <li>select the service you want</li>
          <li>select your location and the workers available will appear</li>
          <li>scroll through the page and select the worker you want</li>
          <li>get there contact and contact them</li>
        </ul>
      </div>
    </div>
    <div class="how-img col-md-5">
      <div class="how-overlay">
        <img src="../../assets/img/banner-img.png">
      </div>
    </div>
  </div>
</div>



<div class="appointment_area">
  <div class="container">
      <div class="row align-items-center">

          <div class="col-xl-6 offset-xl-1 col-md-6 col-md-12 col-lg-6">
              <div class="appointment_info">
                  <div class="opacity_icon d-none d-lg-block">
                      <i class="flaticon-balance"></i>
                  </div>
                  <h3>Make an Appointment</h3>
                  <p>Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some.</p>
                  <form action="#">
                          <div class="row">
                              <div class="col-xl-6 col-md-6">
                                      <input type="text" placeholder="Your Name">
                              </div>
                              <div class="col-xl-6 col-md-6">
                                      <input type="email" placeholder="Your Email">
                              </div>
                              <div class="col-xl-6 col-md-6">
                                      <input type="text" placeholder="Phone no.">
                              </div>
                              <div class="col-xl-6 col-md-6">
                                  <input id="datepicker" placeholder="Appointment date">
                              </div>
                              <div class="col-xl-12">
                                  <textarea placeholder="Message" ></textarea>
                              </div>
                              <div class="col-xl-12">
                                  <div class="appoinment_button">
                                      <button class="boxed-btn5 " type="submit" >Submit</button>
                                  </div>
                              </div>
                          </div>

                      </form>
              </div>

          </div>
      </div>
  </div>
</div>


<div class="container-fluid" id="footer">
  <small>BLUE COLLAR KONECT 2020 ALL RIGHTS RESERVED</small>
</div>

