<div class="container">
  <nav class="nav nav-bar">





  </nav>
  <div>


  </div>
</div>
<div class="container-full">
  <div class="hero">


  </div>
</div>

<div class="container-fluid" id="services">
  <br><br>
  <h2>SERVICES</h2>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="service-pic">
          <img src="assets/clients.svg" width="100px" alt="">
        </div><br>
        <h4>client</h4>
        <p>For our clients we offer door to door services, the services we offer are legitimate because our workers must go through auditions before publishing them tou our site. Your safety is guaranteed for security comes first for us. our
          workers are Affordable</p>

      </div>
      <div class="col-md-6">
        <div class="service-pic">
          <img src="assets/worker.png" width="100px" alt="">
        </div><br>
        <h4>workers</h4>
        <p>If its been hard for you to find a job, then you are at the right place. Before we publish you to the site we have to first audit you and get to know your work experience before proceeding.Fill the form below to get started</p><br>
      </div>

    </div>
  </div><br><br>
</div>


<div class="container-fluid" id="how-it-works">
  <div class="row">

    <div class="col-md-7">
      <div id="how-works">
        <h2>HOW IT WORKS</h2>
        <ul>
          <li>create an account if you already dont have one</li>
          <li>log onto our site</li>
          <li>you will be directed to our sites services portal</li>
          <li>select the service you want</li>
          <li>select your location and the workers available will appear</li>
          <li>scroll through the page and select the worker you want</li>
          <li>get there contact and contact them</li>
        </ul>
      </div>
    </div>
    <div class="how-img col-md-5">
      <div class="how-overlay">
        <img src="../../assets/img/banner-img.png">
      </div>
    </div>
  </div>
</div>



<!--Section: Contact v.2-->
<section class="mb-4">
<div class="contain">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

  <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="name" name="name" class="form-control">
                          <label for="name" class="">Your name</label>
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="email" name="email" class="form-control">
                          <label for="email" class="">Your email</label>
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <input type="text" id="subject" name="subject" class="form-control">
                          <label for="subject" class="">Subject</label>
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form">
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                          <label for="message">Your message</label>
                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>

          <div class="text-center text-md-left">
              <a class="btn btn-primary">Send</a>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>Nairobi, Kenya</p>
              </li>

              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>+254-729-753-530</p>
              </li>

              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>blue-collar.ac.ke</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>
</div>
</section>
<!--Section: Contact v.2-->



