<div class="container-full">
  <div class="hero">
        <img class="hero-img" src="../../assets/download.png" alt="">
        <div class="hero-word">
          <h1>Give Your Home Some Quality<br> </h1>
          <h1 style="padding-left: 300px;"> Quick Service</h1>
          <p>Reliable house serving and repair  <br/> professionals serving a great society</p>
          <button class="check-out" routerLink='/main-register'>Check It Out</button>
        </div>

  </div>
</div>


<!--Join Us-->

<div class="container-full">
  <div class="join-us">
    <h3>Join Us Now</h3>
  </div>
</div>


<!--Why Choose  Us-->
<div class="about-us">
<div class="contanier-fluid">

    <h2><b>WHY CHOOSE US?</b></h2>
    <div class="row">
      <div class="col-md-3">
        <div class="vl"></div><h6>Certified<br> professional <br>Servicers</h6>

      </div>
      <div class="col-md-3">
        <div class="vl"></div>
        <h6>Environmentally <br> Friendly <br>Services</h6>
      </div>
      <div class="col-md-3">
        <div class="vl"></div>
        <h6>100% <br> Satisfaction <br>Guaranteed</h6>
      </div>
      <div class="col-md-3">
        <div class="vl"></div>
        <h6>Available<br>Evenings &<br>Weekends </h6>
      </div>
    </div>
  </div>
</div>

<!--Services-->
<div class="container">
  <div class="services">
    <h2><b>OUR SERVICES</b></h2>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/services/e00276_bca2941d67fe4a5f82c9fc4f8e3e528e_mv2_d_4323_1769_s_2.webp" alt="">
        <h6>House Cleaning</h6>
      </div>
      <div class="col-md-6">
        <img src="../../assets/services/e00276_d61d4bfa258e4eaebffbf256cb2e228c_mv2_d_7441_2779_s_4_2.webp" alt="">
        <h6>Carpet Cleaning</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/services/images (1).jpeg" alt="">
        <h6>Garden Keeping</h6>
      </div>
      <div class="col-md-6">
        <img src="../../assets/services/images.jpeg" alt="">
        <h6>Electrian</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/services/plumber-260nw-530857927.webp" alt="">
        <h6>Plumber</h6>
      </div>
      <div class="col-md-6">
        <img src="../../assets/services/painte_noun_002_26234.jpg" alt="">
        <h6>House Painting</h6>
      </div>
    </div>
  </div>




  <div class="container">

            <div id="testimonial-slider" class="owl-carousel">
              <div class="row">
                <div class="col-md-4">
                <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <div class="testimonial-content">
                        <div class="pic">
                            <img src="../../assets/services/photo-1565180122441-aaf299abd78b.jpeg">
                        </div>
                        <h3 class="title">williamson</h3>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <div class="testimonial-content">
                        <div class="pic">
                            <img src="../../assets/services/photo-1569925411497-4e0ed6bfada2.jpeg">
                        </div>
                        <h3 class="title">Kristina</h3>
                    </div>
                </div>

                </div>

                <div class="col-md-4">
                  <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <div class="testimonial-content">
                        <div class="pic">
                            <img src="../../assets/services/photo-1571071481471-a20b04ecd6ec.jpeg">
                        </div>
                        <h3 class="title">Steve Thomas</h3>
                    </div>
                </div>
                </div>
              </div>
            </div>
  </div>
</div>

<!--
contact us -->
<div class="container">
  <div class="contact">
    <div class="row">
      <div class="col-md-6">
        <div class="address">
          <div class="address-001">
            <h3><i class="fas fa-map-marker-alt"></i>  Address</h3>
            <p>Ihub, sepetu plaza 6th floor</p>
            <p>Galana Road, Nairobi Kenya</p>
          </div>
          <div class="address-001">
            <h3><i class="fas fa-phone-alt"></i> Lets Talk</h3>
            <p>+254729753530</p>
          </div>
          <div class="address-001">
            <h3><i class="far fa-envelope"></i> General Support</h3>
            <p>bluecollar@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form">
          <h2>Contact Form</h2>
          <form id="contact-form" name="contact-form" >

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="name" name="name" class="form-control">
                  <label for="name" class="">Your name</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="email" name="email" class="form-control">
                  <label for="email" class="">Your email</label>
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input type="text" id="subject" name="subject" class="form-control">
                  <label for="subject" class="">Subject</label>
                </div>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-12">

                <div class="md-form">
                  <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                  <label for="message">Your message</label>
                </div>

              </div>
            </div>
            <!--Grid row-->

          </form>
          <button class="btn btn-success">Send Info</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--company and map-->
    <div class="company">
      <div class="row">
          <div class="col-md-6">
            <div class="sologan">
              <h1><b>OUR COMPANY</b></h1>
              <p>If workers of the world want to win all they have to do is recognise<br> their  own solidarity.Combining your individual   strength with the team <br>makes the team unstoppable.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=nairobi%2C%20ihub&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.embedgooglemap.net"></a>
              </div>
            </div>
          </div>
        </div>
    </div>

